<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".MusicClass"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SixDayToSurvive"
        tools:targetApi="31">
        <activity
            android:name="me.absurdteam.sixdaytosurvive.Titres"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name="me.absurdteam.sixdaytosurvive.SixDay"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name="me.absurdteam.sixdaytosurvive.SplashScreenSaturday"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name="me.absurdteam.sixdaytosurvive.FifthDay"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name="me.absurdteam.sixdaytosurvive.SplashScreenFriday"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name="me.absurdteam.sixdaytosurvive.FourthDay"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name="me.absurdteam.sixdaytosurvive.SplashScreenThursday"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name="me.absurdteam.sixdaytosurvive.SplashScreenWednesday"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name="me.absurdteam.sixdaytosurvive.ThirdDay"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name="me.absurdteam.sixdaytosurvive.SecondDay"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name="me.absurdteam.sixdaytosurvive.SplashScreenTuesday"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name="me.absurdteam.sixdaytosurvive.SplashScreenMonday"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name="me.absurdteam.sixdaytosurvive.FirstDay"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name="me.absurdteam.sixdaytosurvive.Disclaimer"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name="me.absurdteam.sixdaytosurvive.MainMenu"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name="me.absurdteam.sixdaytosurvive.SplashScreen"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>